// default
@import 'default/vars';
@import 'mixin/grid';
@import 'mixin/grid-framework';
@import 'mixin/mixin';

// base project
@import 'base/vars';

// global
@import 'layout/global';
@import 'layout/grid';
@import 'default/form';

// icon management
@import 'icon/general';
@import 'icon/nav';
@import 'icon/arrow';
@import 'icon/close';
@import 'icon/rating';
@import 'icon/post';
@import 'icon/option';
@import 'icon/share';

// component
@import 'component/form';
@import 'component/button';
@import 'component/title';
@import 'component/panel';
@import 'component/nav';
@import 'component/social';
@import 'component/app';
@import 'component/people';
@import 'component/content';
@import 'component/post';
@import 'component/feed';
@import 'component/option';
@import 'component/comment';
@import 'component/emoji';

// layout
@import 'layout/header';
@import 'layout/menu';
@import 'layout/search';
@import 'layout/sidebar';
@import 'layout/footer';

// page
@import 'page/sign';
@import 'page/wp';
@import 'page/challenge';
@import 'page/discover';
@import 'page/map';
@import 'page/user';
@import 'page/notify';
@import 'page/setting';
@import 'page/search';
// static
@import 'page/static';

// utility
@import 'utility/helper';
@import 'utility/skeleton';
@import 'utility/animate';

// plugin
@import 'plugin/tiny_slider';
@import 'plugin/tab';
@import 'plugin/datepicker';
@import 'plugin/datepicker_config';
@import 'plugin/dropdown';
@import 'plugin/modal';
@import 'plugin/modal_override';
// @import 'plugin/emojionearea';

@import 'utility/override';