<div class="form-row">
	<div class="form-checkbox">
		<input type="checkbox" name="{{name}}" id="{{name}}" value=""{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}{{#eq readonly compare="true"}} readonly="readonly"{{/eq}}{{#eq checked compare="true"}} checked="checked"{{/eq}}>
		<label for="{{name}}">{{label}}</label>
	</div>
</div>
