<!-- like button -->
<div class="feed-action-item">
	<button type="button" id="btn-feed-like" name="btn-feed-like" class="button btn -action" data-toggle="button" aria-pressed="false">
		<svg class="icon-post icon-comment" title="icon-like">
			<use xlink:href="../asset/images/icon/icon.svg#icon-like" />
		</svg>
		Like
	</button>
</div>

<!-- comment button -->
<div class="feed-action-item">
	<button type="button" id="btn-feed-comment" name="btn-feed-comment" class="button -action">
		<svg class="icon-post icon-comment" title="icon-comment">
			<use xlink:href="../asset/images/icon/icon.svg#icon-comment" />
		</svg>
		Comment
	</button>
</div>

<!-- share button -->
<div class="feed-action-item">
	<div class="dropup">
		<button type="button" id="btn-feed-share" name="btn-feed-share" class="button -action dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<svg class="icon-post icon-share" title="icon-share">
				<use xlink:href="../asset/images/icon/icon.svg#icon-share" />
			</svg>
			Share
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-feed-share">
			<a class="dropdown-item" href="#"><div class="icon-social -facebook"><span class="icon-general icon-facebook"></span></div> Facebook</a>
			<a class="dropdown-item" href="#"><div class="icon-social -twitter"><span class="icon-general icon-twitter"></span></div> Twitter</a>
			<a class="dropdown-item" href="#"><div class="icon-social -whatsapp"><span class="icon-general icon-whatsapp"></span></div> Whatsapp</a>
			<a class="dropdown-item" href="#"><div class="icon-social -line"><span class="icon-general icon-line"></span></div> Line</a>
		</div>
	</div>
</div>
