<div id="success-msg" class="panel-alert -fixed -success">
	<p>Yeay! You were successful.</p>
</div>
<div id="error-msg" class="panel-alert -fixed -error">
	<p>Failed, there was a problem, try again later.</p>
</div>
