.sign {
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 70px);
	padding: 20px 0;
	&-wrap {
		position: relative;
		width: 100%;
	}
	&-text {
		position: relative;
		padding: .5rem 0;
		margin: .5rem 0;
		// text-align: center;
		@include font-pack(false, .875rem, 400, false, false);	
		// text-transform: uppercase;
		& ~ .form-row {
			padding: 0.313rem 0;
		}
	
	}

	// override
	.panel {
		width: calc(100% - 2rem);
		margin: 0 1rem;
		@include min-responsive($screen-tablet) {
			width: 450px;
			margin: 0 auto;
		}
	}
	.app-badge {
		width: calc(100% - 2rem);
		margin: 0 1rem;
		@include min-responsive($screen-tablet) {
			width: 450px;
			margin: 0 auto;
		}
	}
}