.user {
	position: relative;
	&-header {
		position: relative;
		margin: .938rem 0;
		padding: 1.875rem 2rem;
		@include min-responsive($screen-large-desktop) {
			padding: 1.875rem 5rem;
		}
	}
	&-profile {
		position: relative;
		margin: .938rem 0;
		padding: 1.875rem 2.125rem;
	}
	&-avatar {
		position: relative;
		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		box-shadow: 0 10px 30px 0 rgba(21, 23, 52, 0.08);
		border: solid 2px #ffffff;
		border-radius: 100px;
		overflow: hidden;
		background: #f5f5f5;
		img {
			@include ratio-flexible(auto, 100%);
		}
		&-button {
			position: absolute;
			right: 0;
			bottom: 20px;
			z-index: 1;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			background: #ebebeb;
			@include display-flex();
			align-items: center;
			justify-content: center;
			&:hover {
				background: darken(#ebebeb, 10%);
			}
			.icon-general {
				@include transform(scale(1.2));
			}
		}
	}
	&-name {
		text-align: center;
		position: relative;
		margin: 0.875rem 0 0.625rem;
		@include font-pack(false, 1.250rem, 700, false, #161f3d);
	}
	&-location {
		position: relative;
		text-align: center;
		margin: 0;
		padding-bottom: 0.688rem;
		@include font-pack(false, 0.875rem, 500, false, rgba(#161f3d,.5));
	}
	&-row {
		position: relative;
		padding: 1.500rem 0;
		@include display-flex();
		align-items: center;
		justify-content: space-between;
	}
	&-col {
		position: relative;
		width: calc(100% / 3);
	}
	&-stat {
		text-align: center;
		position: relative;
		padding: 0 .5rem;
		@include transition(all .2s ease);
		@include font-pack(false, 1.875rem, 400, 1, #161f3d);
		span {
			display: block;
			padding: .25rem 0;
			@include font-pack(false, 0.938rem, 500, 1, rgba(#161f3d,.3));
		}
		&-link {
			&:hover {
				.user-stat {
					color: $color-theme;
				}
			}
		}
	}

	// form 
	&-form {
		position: relative;
		&-avatar {
			position: relative;
			display: block;
			width: 200px;
			padding: .25rem 0;
			margin: 0 auto;	
		}
		&-row {
			position: relative;
			padding: .25rem 0;
		}
		&-action {
			position: relative;
			padding: .25rem 0;
		}
		// override
		.form-row {
			padding-bottom: 1.5rem;
		}
		label {
			letter-spacing: 1.08px;
			color: #666666;
			font-size: 0.75rem;
			padding-bottom: .25rem;
		}
		.form-select select,
		.form-input input {
			border-radius: 0;
			padding: 0 0.250rem;
			background: #fff;
			border-top: transparent;
			border-right: transparent;
			border-left: transparent;
			border-bottom: 1px solid #e7e7e7;
			font-weight: 600;
		}
		.form-error {
			.form-select select,
			.form-input input {
				border-bottom: 1px solid $color-error;
			}	
		}
	}

	// modal
	&-modal {
		&-body {
			padding: 10px 15px;
			p {
				margin: 0.375rem 0;
				font-size: 0.750rem;
			}
		}
	}
}
