// background 
$bg-base: #F5F6FC;

// font
$font-primary: 'Montserrat', sans-serif;
$font-icon: 'icomoon';

// size 
$font-size-base: 16px;

// color 
$color-base: #2a2a2a;
$color-theme: #ff3c00;
$color-primary: #ff3c00;
$color-secondary: #f2893c;
$color-error: #E82828;
$color-disabled: #F0EFEF;
$color-notification: #E71561;

// color text
$color-text-theme: #ff3c00;
$color-text-primary: #000;
$color-text-secondary: #BFBFBF;
$color-text-error: #E82828;
$color-button-primary: #fff;

// color kcm
$color-kcm-orange: #E55225;
$color-kcm-orange-light: #EF9021;
$color-kcm-blue: #3CA5DD;
$color-kcm-blue-light: #71C4D6;
$color-kcm-green: #2EAC71;
$color-kcm-green-light: #B6CC33;

// color channel
$color-kcm-news: #E55225;
$color-kcm-tren: #1FB9E1;
$color-kcm-hype: #F5B432;
$color-kcm-food: #8ED43F;
$color-kcm-ekonomi: #E55225;
$color-kcm-money: #438E10;
$color-kcm-sport: #FF0000;
$color-kcm-bola: #0db24b;
$color-kcm-tekno: #bad107;
$color-kcm-entertainment: #25afe5;
$color-kcm-otomotif: #fb0404;
$color-kcm-health: #6F9F31;
$color-kcm-sains: #0161B8; //#8171d6;
// $color-kcm-lifestyle: #DF286D; // female
$color-kcm-lifestyle: #00a783; // lifestyle
$color-kcm-properti: #b57c29;
$color-kcm-travel: #00bcd4;
$color-kcm-edukasi: #E55225;
$color-kcm-opini: #E55225;
$color-kcm-lensa: #bdbdbd;
$color-kcm-tv: #bdbdbd;
$color-kcm-vik: #bdbdbd;
$color-kcm-english: #E65225;
$color-kcm-english2: #002D50;

// color god network
$color-kompas: #005496;
$color-juara: #f00;
$color-otomania: #c30000;
$color-kompasiana: #3dc3e0;
$color-gramedia: #2EAC71;
$color-pijaru: #ea5329;
$color-myvalue: #DA1884;

// color ads
$color-brandzview: #3CA5DD;
$color-advertorial: #3CA5DD;
$color-sponsored: #f11d07;

// color sosmed
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-google: #F14336;
$color-whatsapp: #25d366;
$color-line: #00c300;
$color-path: #ee3423;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-youtube: #cd201f;
$color-instagram: #c13584;
$color-apple: #1C1C1C;
$color-comment: #71C8F0;

// screen
$screen-small-mobile: 320px !default;
$screen-mobile: 360px !default;
$screen-tablet: 768px !default;
$screen-desktop: 990px !default;
$screen-large-desktop: 1200px !default;
$screen-super-desktop: 1600px !default;
