.feed {
	position: relative;
	margin: 1rem 0;
	padding: 1.563rem;
	// border-radius: 6px;
	// box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	// background-color: #ffffff;
	a {
		color: inherit;
		&:hover {
			color: $color-theme;
		}
	}
	&-block {
		position: relative;
	}
	&-header {
		position: relative;
		@include display-flex();
		align-items: center;
		padding-bottom: .25rem;
		&-col {
			position: relative;
			flex-basis: 0;
			flex-grow: 1;
			padding-left: 1.125rem;
			padding-right: 2.125rem;
		}
	}
	&-avatar {
		position: relative;
		flex-basis: 55px;
		flex-grow: 0;
		width: 55px;
		height: 55px;
		overflow: hidden;
		border-radius: 55px;
		background: #f5f5f5;
		img {
			@include ratio-flexible(auto, 100%);
		}
	}
	&-user {
		padding-bottom: 0.125rem;
		@include font-pack(false, .875rem, 700, false, #161f3d);
		span {
			font-weight: 400;
		}
	}
	&-time {
		@include font-pack(false, 0.75rem, 400, false, rgba(#000,.5));
	}

	// content
	&-content {
		position: relative;
		padding: .25rem 0;
	}
	&-text {
		position: relative;
		padding: .5rem 0;
		@include font-pack(false, 0.875rem, 500, 1.7, #535353);
	}
	&-img {
		position: relative;
		padding: .5rem 0;
		margin: 0 -1.563rem;
		&-block {
			position: relative;
			width: 100%;
			//width: 500px;
		}
		&-item {
			position: relative;
		}
		&-object {
			position: relative;
			span {
				position: relative;
				display: block;
				padding-top: calc(2 / 3 * 100%);
				overflow: hidden;
				background: #f0f0f0;
				// border-radius: 3px;
			}
			img {
				@include ratio-flexible(100%, auto);
				z-index: 2;
			}
		}
	}
	&-place {
		position: relative;
		padding: .5rem 0;
		margin: 0 -1.563rem;
		&-info {
			position: relative;
			@include display-flex();
			align-items: center;
			background: #F0F2F5;
			padding: .75rem 1.125rem;
		}
		&-thumb {
			position: relative;
			flex-basis: 60px;
			flex-grow: 0;
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 60px;
			background: #fff;
			img {
				@include ratio-flexible(auto, 100%);
			}	
		}
		&-col {
			position: relative;
			flex-basis: 0;
			flex-grow: 1;
			padding-left: 1rem;
			padding-right: 1rem;
		}
		&-cat {
			text-transform: uppercase;
			@include font-pack(false, .75rem, 500, false, #161f3d);
		}
		&-name {
			padding-bottom: 0.125rem;
			@include font-pack(false, 1rem, 700, false, #161f3d);	
		}
		&-checkin {
			// text-transform: uppercase;
			@include font-pack(false, 0.688rem, 500, false, #5f5d70);
		}
	}

	&-stat {
		position: relative;
		padding: .25rem 0;
		@include display-flex();
		align-items: center;
		justify-content: space-between;
		@include font-pack(false, 0.875rem, 500, false, #767d87);
		// &:empty {
		// 	padding: 0;
		// }
	}
	&-action {
		position: relative;
		padding: 0;
		margin: .25rem 0;
		@include display-flex();
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		&-item {
			position: relative;
			.dropdown-item {
				font-size: 0.750rem;
				padding: 5px 10px;
			}
		}
		.button {
			border: transparent;
			padding: 0 .5rem;
			&:hover {
				background: transparent;
			}
			&.active {
				color: $color-secondary;
			}
		}
		.icon-post {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
	}
	&-footer {
		position: relative;
		@include display-flex();
		padding-top: .75rem;
		.feed-avatar {
			width: 40px;
			height: 40px;
			flex-basis: 40px;
		}
	}
	&-reply {
		position: relative;
		flex-basis: 0;
		flex-grow: 1;
		padding-left: 1.125rem;
		padding-right: 0;
		textarea,
		input {
			border-radius: 4px;
			background-color: #f5f4f4;
			border: transparent;
			// padding: 0 0.938rem;
			height: 40px;
			resize: vertical; 
			@include font-pack(false, 0.875rem, 400, false, #535353);
		}
		&-emoji {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
			border: transparent;
			background: transparent;
			.icon-post {
				width: 18px;
				height: 18px;
				color: #ccc;
				@include transition(all .2s ease);
			}
			&:focus,
			&:hover {
				border: transparent;
				background: transparent;
				.icon-post {
					color: #535353;
				}
			}
		}
		&-send {
			width: auto;
			height: auto;
			padding: 0 .125rem;
			font-size: .75rem;
			color: #b5b5b5;
			position: absolute;
			right: 5px;
			top: calc(50% - 9px);
			z-index: 1;
			color: #6b6b6b;
			background: #f5f4f4;
			border: 1px solid #f5f4f4;
		}
	}

	// empty
	&-empty {
		position: relative;
		padding: 10vh 0;
		text-align: center;
		@include font-pack(false, .875rem, 700, false, rgba(#B7B7BC, .7));
	}
}
