.nav {
	position: relative;
	// padding: 0;
	padding: 0.625rem 0;
	&.-fixed {
		width: 100%;
		@include max-responsive($screen-mobile-max) {
			overflow-x: auto;
			white-space: nowrap;
		}
		@include min-responsive($screen-tablet) {
			width: 55px;
			position: fixed;
			top: 70px;
		}
		@include min-responsive($screen-desktop) {
			width: 180px;
		}
	}
	&-wrap {
		position: relative;
		margin: .5rem 0;
		@include range-responsive(375px, $screen-mobile-max) {
			// margin: 0;
			@include display-flex();
			justify-content: space-between;
		}
	}
	&-item {
		padding: 0;
		margin: 0;
		@include max-responsive($screen-mobile-max) {
			display: inline-block;
		}
	}
	&-flex {
		@include display-inline-flex();
		align-items: center;	
		padding: 0.625rem 0.938rem;
		border-radius: 25px;
		@include transition(all .2s ease);
	}
	&-icon {
		position: relative;
		color: #ccc;
		@include transition(all .2s ease);
		svg {
			font-size: 22px;
			vertical-align: top;
		}
	}
	&-text {
		margin-left: 15px;
		@include transition(all .2s ease);
		@include font-pack(false, 1.063rem, 700, 1, #14171A);
		display: none;
		@include min-responsive($screen-desktop) {
			display: inline-block;
		}
	}
	&-badge {
		position: absolute;
		padding: 2px 4px;
		background: $color-notification;
		top: -2px;
		right: -7px;
		border-radius: 10px;
		@include font-pack(false, 0.625rem, 700, 1, #fff);
		&:empty {
			padding: 4px;
		}
	}
	&-link {
		display: block;
		padding: 5px 0;
		&:hover {
			.nav-flex {
				background: #fff;
			}
		}
		&.-active {
			.nav-icon,
			.nav-text {
				color: $color-theme;
			}
		}
	}
	&-avatar {
		position: relative;
		width: 22px;
		height: 22px;
		border-radius: 22px;
		overflow: hidden;
		img {
			@include ratio-flexible(auto, 100%);
		}
	}

	// static
	&.-static {
		.nav-wrap {
			margin: 1rem 0;
		}
		.nav-text {
			display: inline-block;
			margin-left: 0;
			font-size: .875rem;
			@include range-responsive($screen-tablet, $screen-desktop) {
				font-size: .75rem;
			}
		}
		.nav-flex {
			@include range-responsive($screen-tablet, $screen-desktop) {
				padding: 0;
			}
		}
		.nav-link.-active {
			.nav-flex {
				background: #fff;
				@include range-responsive($screen-tablet, $screen-desktop) {
					background: transparent;
				}
			}
		}
	}
}
