.post {
	position: relative;
	margin: .938rem 0;
	padding: 1.563rem;
	&-block {
		position: relative;
		@include display-flex();
		align-items: center;
	}
	&-avatar {
		position: relative;
		flex-basis: 48px;
		flex-grow: 0;
		width: 48px;
		height: 48px;
		overflow: hidden;
		border-radius: 48px;
		background: #f5f5f5;
		img {
			@include ratio-flexible(auto, 100%);
		}
	}
	&-user {
		padding: 0 1rem;
		@include font-pack(false, 0.875rem, 700, false, #161f3d);
	}
	&-write {
		position: relative;
		flex-basis: 0;
		flex-grow: 1;
		padding-left: 1.125rem;
		padding-right: 0;
		.button {
			border-radius: 4px;
			background-color: #f5f4f4;
			border: transparent;
			justify-content: flex-start;
			padding: 0 0.938rem;
			@include font-pack(false, 0.875rem, 400, false, #999);
		}
	}
	&-footer {
		position: relative;
		// @include display-flex();
		// align-items: center;
		padding-top: 1rem;
		margin-bottom: -5px;
	}
	&-icon {
		position: relative;
		@include display-flex();
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		.button {
			margin: 0 2px;
			width: 35px;
			height: 35px;
			border: transparent;
			color: #ccc;
			&:hover {
				color: #000;
				background: transparent;
			}
		}
		.icon-post {
			width: 1.125rem;
			height: 1.125rem;
		}
	}

	// modal
	&-modal {
		position: relative;
		padding: .875rem 1.563rem;
		&-top {
			position: relative;
			padding: .25rem 0;
			@include display-flex();
			align-items: center;
		}
		&-content {
			position: relative;
			padding: .25rem 0;
			input[type="text"],
			textarea {
				background: transparent;
				border: transparent;
				min-height: 50px;
				resize: vertical; 
				vertical-align: top;
				padding-left: .25rem;
				// font-size: .875;
				&:focus,
				&:hover {
					background: transparent;
					border: transparent;
				}
			}
		}
		&-media {
			position: relative;
			padding: .25rem 0;
			margin: 0 -1px;
			@include display-flex();
			button.close {
				background: rgba(0,0,0,.6);
			}
		}
		&-img {
			position: relative;
			width: 50%;
			flex-grow: 1;
			padding: 0 1px;
			& > span {
				position: relative;
				border-radius: 3px;
				display: block;
				padding-top: calc(2 / 3 * 100%);
				overflow: hidden;
				background: #f0f0f0;
				// border-radius: 3px;
			}
			img {
				@include ratio-flexible(100%, auto);
				z-index: 2;
			}
		}
		&-place {
			position: relative;
			&-loc {
				position: relative;
			}
			&-info {
				position: relative;
				background: #fff;
				@include display-flex();
				align-items: center;
				padding: .5rem 0;
			}
			&-icon {
				position: relative;
				width: 50px;
				height: 50px;
				border-radius: 25px;
				overflow: hidden;
				background: #fff;
				flex-grow: 0;
				flex-basis: 50px;
				z-index: 1;
				img {
					@include ratio-flexible(auto, 100%);
					z-index: 2;
				}		
			}
			&-title {
				position: relative;
				flex-grow: 1;
				flex-basis: 0;
				padding-left: .5rem;
				@include font-pack(false, .875rem, 700, false, false);
				span {
					padding-top: 2px;
					display: block;
					font-size: .75rem;
					font-weight: 400;
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		&-icon {
			position: relative;
			padding: .25rem 0;
			@include display-flex();
			align-items: center;
			border-radius: 4px;
			// background: #f1eded;
			.icon-post {
				color: #ccc;
				margin-right: .5rem;
				@include transition(all .2s ease);
			}
			.button {
				background: #f1eded;
				border: transparent;
				font-weight: 400;
				border-radius: 0;
				height: 40px;
				&:hover {
					color: #000;
					.icon-post {
						color: #b7b7b7;
					}
				}
			}
		}
		&-action {
			position: relative;
			.form-row {
				padding: .25rem 0;
			}
		}
	}
}
