<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Home"}}
				</div>

				<div class="grid-col -wide">

					<!-- challenge banner -->
					{{!>challenge_banner}}

					<!-- post -->
					{{>post}}

					<!-- no activity -->
					<div class="feed-empty">
						<div class="feed-empty-img">
							<img src="../asset/images/no_activity.png" alt="">
						</div>
						<div class="feed-empty-text">
							You Have No Activity Yet
						</div>
					</div>

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
