<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header}}

		<!-- grid -->
		<div class="grid grid-full">

			<div class="grid-flex wp">
				<div class="wp-hero">
					<span class="wp-img" style="background-image: url('../asset/images/hero-wp.jpg');"></span>
				</div>
				<div class="wp-intro">
					<div class="wp-form">
						<h1 class="title-big">Hello Again<br>Welcome Back</h1>

						{{>button type="link" label="Continue with Facebook" class="-facebook" icon="facebook" href="wp-signup.html"}}
						{{>button type="link" label="Continue with Google" class="-google" icon="google-color" href="wp-signup.html"}}
						{{>button type="link" label="Continue with Email" class="-email" icon="mail" href="wp-signup.html"}}

						<div class="wp-line"><span>Already a Member?</span></div>

						{{>button type="link" label="Login" class="-primary" href="wp-signin.html"}}

						{{>app_widget}}
					</div>
				</div>
			</div>
			
		</div>

		{{>footer}}
		
	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
