<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Home"}}
				</div>

				<div class="grid-col -wide">

					<!-- challenge banner -->
					{{>challenge_banner}}

					<!-- post -->
					{{>post}}

					<!-- feeds -->
					{{>feeds channel=people.[0]}}

					{{>feeds channel=people.[1] comment="true" commentall="true"}}

					{{>feeds channel=people.[2]}}

					{{>feeds channel=people.[3]}}

					{{>feeds channel=people.[4]}}

					{{>more label="Load more"}}

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

	</div>
	<!-- e: root -->

	<!-- emoji source -->
	<div id="emoji">
		{{>emoji}}
	</div>

{{>js}}
</body>
</html>
