<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Home"}}
				</div>

				<div class="grid-col -wide">

					<!-- challenge banner -->
					{{>challenge_banner}}

					<!-- post -->
					{{>post}}

					<!-- feeds -->
					{{>feeds channel=people.[0]}}

					{{>feeds channel=people.[1] comment="true" commentall="true"}}

					{{>feeds channel=people.[2]}}

					{{>feeds channel=people.[3]}}

					{{>feeds channel=people.[4]}}

					{{>more label="Load more"}}

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

	</div>
	<!-- e: root -->

	<!-- emoji source -->
	<div id="emoji">
		{{>emoji}}
	</div>

{{>js}}
<script>
// dummy auto complete location change
$(document).ready(function(){
	var url = '../asset/json/place.json'

	$("#discoverLocationSearch").keyup(function(){
		var isi = this.value;
		$.getJSON( url, function (data) {
			var items = [];
			$.each(data.place, function (index, item) {
				if(item.title.substr(0, isi.length).toUpperCase()==isi.toUpperCase()) {
					items.push('<button type="button" role="button" class="button" value="'+ item.title +'" data-loc="send">'+ item.title +'</button>');
				}
			});
			$("#discoverLocationList").html(items);
		});
	});

	$(document).on('click','[data-loc="send"]',function(e){
		$('#modalPostLocation').modal('hide')
		$('.post-modal-place').show()
		$('.post-modal-img').hide()
	});
});

</script>
</body>
</html>
