<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Map"}}
				</div>

				<div class="grid-col -wide">

					<!-- map detail page version-->
					<div class="map box">
						<div class="map-box-detail">
							{{>map_place_detail}}
						</div>
					</div>
					
					<!-- place whos been here modal -->
					{{>place_whoshere}}

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>
				
			</div>

		</div>

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
