<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Notification"}}
				</div>

				<div class="grid-col -wide">

					<!-- notification -->
					<div class="notify box">
						<div class="notify-block">
							{{>notify_list channel=people index_start=0 index_end=9}}
						</div>
						{{>more label="Load more"}}
					</div>

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
