<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Notification"}}
				</div>

				<div class="grid-col -wide">

					<!-- feeds -->
					{{>feeds channel=people.[1] comment="true"}}

				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
