<!DOCTYPE html>
<html lang="en">

{{>head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav active="Profile"}}
				</div>

				<div class="grid-col -wide">

					<!-- pofile header -->
					{{>profile_header edit="true"}}

					<!-- feeds -->
					{{>feeds channel=people.[0]}}

					{{>feeds channel=people.[1] comment="true"}}

					{{>feeds channel=people.[2] comment="true"}}

					{{>feeds channel=people.[3] comment="true"}}
					
				</div>

				<div class="grid-col -aside">
					{{>sidebar}}
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

	</div>
	<!-- e: root -->

	<!-- emoji source -->
	<div id="emoji">
		{{>emoji}}
	</div>

{{>js}}

<script>
// dummy alert succes / failed message
let msg = document.getElementById('success-msg');
if(!!msg) {
	setTimeout(function(){
		$('#success-msg').fadeIn(300).delay(3000).fadeOut(1000);
	}, 2000);
}
</script>
</body>
</html>
