<!DOCTYPE html>
<html lang="en">

{{>head font="link" page="static"}}

<body class="-static">
	<!-- s: root -->
	<div class="root">

		{{>header}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_static active="FAQ"}}
				</div>

				<div class="grid-col -wide">

					<!-- static -->
					<div class="static box">
						<div class="static-block">
							<h1 class="static-title">FAQ</h1>
							<article class="static-content">
								<p>We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. <a href="#">We want to empower you</a> to make the best decisions about the information that you share with us.</p>
							</article>
							<section class="static-faq">
								<div class="panel-group" id="accordionFAQ" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" class="collapsed" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
													#1 Anim pariatur cliche reprehenderit
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
												3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
												laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
												coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
												anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
												occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
												of them accusamus labore sustainable VHS.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" class="collapsed" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													#2 Brunch 3 wolf moon tempor
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
												3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
												laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
												coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
												anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
												occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
												of them accusamus labore sustainable VHS.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" class="collapsed" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													#3 Nihil anim keffiyeh helvetica
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
												3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
												laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
												coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
												anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
												occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
												of them accusamus labore sustainable VHS.
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>

				</div>

			</div>

		</div>

		{{>footer}}

		<!-- notify message -->
		{{>panel_alert}}

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
