<div class="form-row">
	<label for="address">Alamat Tempat Tinggal</label>
	<div class="form-input">
		<input type="text" id="address" name="address" class="input" placeholder="alamat jalan">
	</div>
	<div class="form-hint"></div>
</div>
<div class="form-row">
	<div class="form-select" data-placeholder="pilih provinsi">
		<select id="province" name="province" class="select ">
			<option value="0" selected="selected" disabled="disabled">pilih provinsi</option>
			<option value="Aceh">Aceh</option>
			<option value="Sumatera Utara">Sumatera Utara</option>
			<option value="Sumatera Barat">Sumatera Barat</option>
			<option value="Jambi">Jambi</option>
			<option value="Riau">Riau</option>
			<option value="Kep. Riau">Kep. Riau</option>
			<option value="Sumatera Selatan">Sumatera Selatan</option>
			<option value="Bangka Belitung">Bangka Belitung</option>
			<option value="Bengkulu">Bengkulu</option>
			<option value="Lampung">Lampung</option>
		</select>
	</div>
</div>
<div class="form-row form-flex form-flex-2">
	<div class="form-col">
		<div class="form-row">
			<div class="form-select" data-placeholder="pilih kota">
				<select id="city" name="city" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih kota</option>
					<option value="Jakarta Utara">Jakarta Utara</option>
					<option value="Jakarta Barat">Jakarta Barat</option>
					<option value="Jakarta Timur">Jakarta Timur</option>
					<option value="Jakarta Pusat">Jakarta Pusat</option>
					<option value="Jakarta Selatan">Jakarta Selatan</option>
					<option value="Kep. Seribu">Kep. Seribu</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-col">
		<div class="form-row">
			<label for="code"></label>
			<div class="form-input">
				<input type="text" id="code" name="code" class="input" placeholder="kode pos">
			</div>
			<div class="form-hint"></div>
		</div>
	</div>
</div>
