<!-- option -->
<div class="option">
	<div class="dropdown">
		<button type="button" class="button -transparent dropdown-toggle" role="button" id="menuOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="icon-option"><i></i></span>
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuOption">
			<a class="dropdown-item" href="#">Hide Post</a>
			<a class="dropdown-item" href="#">Unfollow</a>
		</div>
	</div>
</div>
<!-- option -->
