<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header_mobile login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_mobile active="Discover"}}
				</div>

				<div class="grid-col -wide">

					{{>title section="true" title="Discover" filter="true"}}

					<div class="discover box">

						{{>discover_page}}
						
						{{>discover_guide}}

					</div>

					{{>discover_filter}}

					{{>discover_loc}}

				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

		<!-- modal apps -->
		{{>app_modal}}

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
<script>

// dummy 
let ds = document.getElementById('discoverCard');
let bg = document.getElementById('discoverBg');
if(!!ds) {
	setTimeout(function(){
		// check guide
		initGuide();

		ds.classList.remove('-hide');
		bg.classList.remove('-animate');
	}, 5000);
}

// swipe
initSwipe();

// dummy filter
let boxFilter = document.getElementById('discoverFilter');
let save = document.getElementById('discoverFilterSave');
if(!!save) {
	save.addEventListener('click', function(e){

		// close
		closeFilter(boxFilter);

		// open
		//openFilter(boxFilter);
	});
}

// dummy auto complete location change
$(document).ready(function(){
	var url = '../asset/json/place.json'

	$("#discoverLocationSearch").keyup(function(){
		var isi = this.value;
		$.getJSON( url, function (data) {
			var items = [];
			$.each(data.place, function (index, item) {
				if(item.title.substr(0, isi.length).toUpperCase()==isi.toUpperCase()) {
					items.push('<button type="button" role="button" class="button" value="'+ item.title +'" data-loc="send">'+ item.title +'</button>');
				}
			});
			$("#discoverLocationList").html(items);
		});
	});

	$(document).on('click','[data-loc="send"]',function(e){
		$('#modalLocation').modal('hide')
	});
});

</script>
</body>
</html>
