<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header_mobile login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_mobile active="Home"}}
				</div>

				<div class="grid-col -wide">

					<!-- post -->
					{{>post mobile="true"}}

					<!-- challenge banner -->
					{{>challenge_banner}}

					<!-- feeds -->
					{{>feeds mobile="true" channel=people.[0]}}

					{{>feeds mobile="true" channel=people.[1] comment="true" commentall="true"}}

					{{>feeds mobile="true" channel=people.[2]}}

					{{>feeds mobile="true" channel=people.[3]}}

					{{>feeds mobile="true" channel=people.[4]}}

					{{>more label="Load more"}}

				</div>

			</div>

		</div>

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
</body>
</html>
