<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header_mobile login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_mobile active="Profile"}}
				</div>

				<div class="grid-col -wide">

					{{>title section="true" title="Change Password"}}

					<!-- setting -->
					<div class="setting box">
						<form action="setting.html">
							<div class="user-form">
								<div class="user-form-row">
									{{>input type="password" label="Current Password" name="current-password"}}
									{{>input type="password" label="New Password" name="new-password"}}
									{{>input type="password" label="Confirm New Password" name="confirm-new-password" txthint="Password must content at least 8 characters."}}
								</div>
								<div class="user-form-action">
									{{>button type="submit" name="btn-save-user" class="-primary" label="Save"}}
								</div>
							</div>		
						</form>
					</div>
					
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>panel_alert}}

		<!-- modal apps -->
		{{>app_modal}}

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
</body>
</html>
