<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body class="-static">
	<!-- s: root -->
	<div class="root">

		{{>header_mobile}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_static active="Policy Privacy"}}
				</div>

				<div class="grid-col -wide">

					<!-- static -->
					<div class="static box">
						<div class="static-block">
							<h1 class="static-title">Policy Privacy</h1>
							<article class="static-content">
								<p>We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. <a href="#">We want to empower you</a> to make the best decisions about the information that you share with us.</p>
								<ul>
									<li>Twitter is public and Tweets are immediately viewable and searchable by anyone around the world. We give you non-public ways to communicate on Twitter too, through protected Tweets and Direct Messages. You can also use Twitter under a pseudonym if you prefer not to use your name.</li>
									<li>When you use Twitter, even if you’re just looking at Tweets, we receive some personal information from you like the type of device you’re using and your IP address. You can choose to share additional information with us like your email address, phone number, address book contacts, and a public profile. We use this information for things like keeping your account secure and showing you more relevant Tweets, people to follow, events, and ads.</li>
									<li>We give you <a href="#">control through your settings</a> to limit the data we collect from you and how we use it, and to control things like account security, marketing preferences, apps that can access your account, and address book contacts you’ve uploaded to Twitter. You can also download information you have shared on Twitter. </li>
									<li>In addition to information you share with us, we use your Tweets, content you’ve read, Liked, or Retweeted, and other information to determine what topics you’re interested in, your age, the languages you speak, and other signals to show you more relevant content. We give you transparency into that information, and you can modify or correct it at any time.</li>
									<li>If you have questions about this policy, how we collect or process your personal data, or anything else related to our privacy practices, we want to hear from you. You can contact us at any time.</li>
								</ul>
								<h2>Information You Share With Us</h2>
								<p>We require certain information to provide our services to you. For example, you must have an account in order to upload or share content on Twitter. When you choose to share the information below with us, we collect and use it to operate our services.</p>
								<ol>
									<li>You don’t have to create an account to use some of our service features, such as searching and viewing public Twitter profiles or watching a broadcast on Periscope’s website. If you do choose to create an account, you must provide us with some personal data so that we can provide our services to you. On Twitter this includes a display name (for example, “Twitter Moments”), a username (for example, @TwitterMoments), a password, and an email address or phone number. Your display name and username are always public, but you can use either your real name or a pseudonym. You can also create and manage multiple Twitter accounts1, for example to express different parts of your identity.</li>
									<li>You can choose to upload and sync your address book on Twitter so that we can help you find and connect with people you know and help others find and connect with you. We also use this information to better recommend content to you and others.</li>
								</ol>
								<p>You can sign up for Periscope with an account from another service like Twitter, Google, or Facebook, or connect your Periscope account to these other services. If you do, we will use information from that service, including your email address, friends, or contacts list, to recommend other accounts or content to you or to recommend your account or content to others. You can control whether your Periscope account is discoverable by email through your <a href="#">Periscope settings.</a>.</p>
							</article>
						</div>
					</div>

				</div>

			</div>

		</div>

		{{>footer}}

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
</body>
</html>
