<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		<!-- grid -->
		<div class="grid grid-full">

			<div class="grid-flex sign">

				<div class="wp-hero">
					<span class="wp-img" style="background-image: url('../asset/images/hero-bg.jpg');"></span>
					<div class="wp-logo">
						<a href="index-wp.html">
							<img src="../asset/images/logo-trifekta-splash.svg" alt="Trifekta">
						</a>
					</div>
				</div>
				<div class="sign-wrap">

					<!-- s: sign in -->
					<div class="panel -signin">
						<div class="panel-body">
							<div class="notes-block">
								{{>title title="Deleting your account"}}
								<p>Your account have been deleted. We are sorry for letting you go. See you again later.</p>
								<p><a href="index-wp.html">Back to home</a></p>
							</div>
						</div>
					</div>
					<!-- e: sign in -->
					
				</div>

			</div>

		</div>

		{{>footer}}

		<!-- notify message -->
		{{>panel_alert}}

		<!-- modal apps -->
		{{>app_modal}}

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
</body>
</html>
