<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		<!-- grid -->
		<div class="grid grid-full">

			<div class="grid-flex sign">

				<div class="wp-hero">
					<span class="wp-img" style="background-image: url('../asset/images/hero-bg.jpg');"></span>
					<div class="wp-logo">
						<a href="index-wp.html">
							<img src="../asset/images/logo-trifekta-splash.svg" alt="Trifekta">
						</a>
					</div>
				</div>
				<div class="sign-wrap">

					<!-- s: reset -->
					<div class="panel">
						{{>title title="Reset Your Password"}}
						<div class="panel-body">
							<form action="wp-reset-result.html">
								<div class="sign-text">
									Enter your email address below and we'll send you a link with instructions.
								</div>

								{{>input type="text" label="Email Address" name="name"}}

								{{>button type="submit" label="Send" name="reset" class="-primary"}}

								<div class="sign-text">
									<div class="text-center"><a href="wp-signup.html">Create new account</a></div>
								</div>
							</form>
						</div>
					</div>
					<!-- e: reset -->
					
				</div>

			</div>

		</div>

		{{>footer}}

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
</body>
</html>
