// grid
.grid-col {
	padding-left: 0;
    padding-right: 0;
}
.grid-col.-wide {
	padding-top: 0;
	padding-bottom: 3.125em;
}
.box {
	border-radius: 0;
	box-shadow: 0 5px 15px 0 rgba(165, 165, 165, 0.2);
	// box-shadow: 0 3px 6px 0 rgba(165, 165, 165, 0.24);
}

// nav
.-nav {
	padding-top: 53px;
}
.nav {
	background: #fff;
	padding: 0;
	border-bottom: 1px solid #d7d7d7;
	&.-fixed {
		overflow: hidden;
		white-space: unset;
		position: fixed;
		top: 55px;
		z-index: 9;
	}
	&-wrap {
		margin: 0;
		@include display-flex();
	}
	&-item {
		display: block;
		flex-grow: 1;
	}
	&-link {
		position: relative;
		text-align: center;
		&.-active {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				border-bottom: 2px solid $color-theme;
			}
		}
	}
	&.-static {
		&.-fixed {
			overflow-x: auto;
			white-space: nowrap;
			padding: 0 .5rem;
		}
		.nav-wrap {
			margin: 0;
		}
		.nav-link {
			height: 53px;
		}
	}
}

// post
.post {
	padding: 1rem;
	margin-top: 0;
	&-avatar {
		width: 40px;
		height: 40px;
		flex-basis: 40px;
		border-radius: 40px;
	}
	&-write {
		padding-left: 1rem;
		.button {
			height: 38px;
			border-radius: 8px;
		}
	}
	&-footer {
		padding-top: 0.688rem;
	}

	// modal
	&-modal {
		padding: .875rem 1rem;
		&-content {
			input[type="text"],
			textarea {
				min-height: 120px;
			}
		}
	}
}

// challenge
.challenge {
	margin: 0;
	&-info {
		padding: 1.125rem;
	}
	&-title {
		font-size: 1.25rem;
	}
	&-lead {
		font-size: 1.25rem;
	}
	.app-badge img {
		height: 40px;
	}
	// banner
	&Banner {
		padding: 1rem 0;
		&-icon {
			width: 70px;
			flex-basis: 70px;
			padding-right: 0;
		}
		&-info {
			flex-grow: 1;
			flex-basis: 0;
			padding-right: 1rem;
		} 
		&-lead,
		&-title {
			font-size: 0.875rem;
		}
		&-lead {
			font-weight: 500;
		}
	}
} 

// map 
.map {
	margin: 0;
	border: transparent;
	&-img {
		width: 170px;
		flex-basis: 170px;
	}
	&-title {
		font-size: 1.25rem;
	}
	&-box {
		&-google {
			max-width: 100%;
			padding: 1rem;
			// mobile
			.map-checkin {
				padding-top: .5rem;
				padding-bottom: 0;
			}
		}
		&-modal,
		&-detail {
			margin: 0 1rem;
			padding-bottom: 1rem;
			.map-title {
				font-size: 1.25rem;
			}
			.map-nearby {
				margin-top: 1.5rem;
				font-size: 0.625rem;
			}
			.map-img {
				margin-top: 0;
				margin-right: -1rem;
				margin-left: -1rem;
			}
		}
	}
	&-overlay {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		background: rgba(0,0,0,.7);
		opacity: 0;
		visibility: hidden;
		@include display-flex();
		align-items: flex-end;
		@include transition(all .2s ease);
		.map-box-google {
			@include transform(translate(0, 10px));
			border-radius: 0;
			box-shadow: 0px -5px 15px 0 rgba(0, 0, 0, 0.25);
			@include transition(all .2s ease-in-out);
		}
		&.-show {
			opacity: 1;
			visibility: visible;
			.map-box-google {
				@include transform(translate(0, 0));
			}
		}
	}
}

// discover 
.discover {
	margin: 0;
	border: transparent;
	&-block {
		padding: 1.875rem 0;
		// min-height: calc();
	}
	&-action {
		.button {
			height: 40px;
		}
	}

	&-filter {
		&-trigger {
			padding: 0 .875rem;
		}
		&-box {
			border-left: transparent;
		}
	}
	&-location {
		&-modal {
			height: 60vh;
		}
	}
}

// feed
.feed {
	padding: 1rem;
	&-header {
		&-col {
			padding-left: .875rem;
		}
	}
	&-img {
		margin: 0 -1rem;
	}
	&-place {
		margin: 0 -1rem;
	}
	&-avatar {
		width: 40px;
		height: 40px;
		flex-basis: 40px;
		border-radius: 40px;
	}
	// &-user {
	// 	font-size: 0.813rem;
	// }
	&-time {
		font-size: 0.688rem;
	}
	&-stat {
		font-size: .75rem;
	}
	&-action {
		.button {
			font-size: .75rem;
		}
		&-item {
			.dropdown-item {
				padding: 7px 10px;
			}
		}
	}
	&-place {
		&-info {
			padding: .75rem;
		}
		&-name {
			font-size: .875rem;
		}
		&-col {
			padding-left: .75rem;
			padding-right: .75rem;
		}
		&-thumb {
			width: 40px;
			height: 40px;
			flex-basis: 40px;
			border-radius: 40px;	
		}
	}
	&-reply textarea, 
	&-reply input {
		font-size: 1rem;
		&::placeholder {
			font-size: .875rem;
		}
	}
}

// comment
.comment {
	&-col {
		padding-left: 1rem;
		padding-right: 0;
	}
}

// people 
.people {
	margin: 0;
	padding: 0 1rem 1rem;
	.tab-block {
		margin: 0 -1rem;
	}
	.tab-header {
		padding-top: .25rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	&-item {
		padding: .5rem 0;
	}
	&-img {
		width: 40px;
		height: 40px;
		flex-basis: 40px;
		border-radius: 40px;
	}
	&-info {
		padding-left: .875rem;
	}
	&-block {
		&.-modal {
			padding: 0 1rem;
		}
		.button[data-follow] {
			width: 80px;
		}
	}
	&-action {
		.form-row {
			padding: .25rem 0;
		}
	}
}

// user 
.user {
	&-header {
		margin-top: 0;
		padding: 1.25rem 1rem;
	}
	&-name {
		font-size: 1.125rem;
	}
	&-stat {
		font-size: 1.25rem;
		span {
			font-size: .75rem;
		}
	}
	&-profile {
		margin: 0;
		padding: 1rem;
	}
	&-form {
		label {
			font-size: 0.688rem;
		}
		.form-input input,
		.form-select select {
			font-weight: 400;
		}
	}
}

// setting 
.setting {
	margin: 0;
	padding: 1rem;
}

// notify
.notify {
	margin: 0;
	padding: 0;
	&-row {
		padding: .75rem 0;
	}
	&-col {
		padding-right: 0;
	}
	&-item {
		padding: 0 1rem;
		&:first-child {
			margin-top: 0;
		}
	}
	&-img {
		width: 48px;
		height: 48px;
		flex-basis: 48px;
		border-radius: 48px;
	}
}

// modal 
.modal {
	&-dialog {
		margin: 0;
		width: 100%;
		top: 100%;
	}
	&-content {
		border-radius: 6px 6px 0 0;
	}
	// &-body {
		// height: 100vh;
		// max-height: 100vh;
	// }
	// &-footer {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	width: 100%;
	// 	background: #fff;
	// }
	// &-header + &-body {
	// 	height: calc(100vh - 59px);
		// max-height: calc(100vh - 120px);
	// 	min-height: calc(100vh - 59px);
	// }
	&.fade &-dialog {
		@include transform(translate(0, calc(-100% + 10px)));
	}
	&.in &-dialog {
		@include transform(translate(0, -100%));
	}
	&-open & {
		overflow-y: hidden;
	}
}

// search
.search {
	padding: 1rem;
	&-content {
		font-size: .875rem;
	}
}

// static
.static {
	margin-top: 0;
	margin-bottom: 0;
	&-block {
		padding: 1rem;
	}
	&-title {
		font-size: 1.25rem;
	}
	&-img {
		margin: 1rem -1rem;
	}
	&-content {
		h2 {
			font-size: 1.125rem;
		}
	}
}


// others 
.social {
	&-link {
		opacity: .9;
		@include transform(scale(1.5));
	}
}
.icon-close:before, 
.icon-close:after {
	background: #676767;
	//border-top: 1px solid #676767;
}
.more-block {
	padding-top: 0;
	margin: 1rem 0;
}
.app-badge img {
	height: 40px;
}
// override
// #modalAvatar,
// #modalDeleteAccount {
// 	.modal-header + .modal-body {
// 		max-height: calc(100vh - 59px - 73px);
// 		min-height: calc(100vh - 59px - 73px);
// 	}
// }
#modalTerm {
	&.modal.fade .modal-dialog {
		@include transform(translate(0, calc(-50%)));
	}
	&.modal.in .modal-dialog {
		@include transform(translate(0, calc(-50% - 10px)));
	}
	.modal-dialog {
		top: 50%;
		width: 300px;
		margin: 0 auto;
	}
	.modal-content {
		border-radius: 0;
	}
	.modal-body {
		height: auto;
	}
}
// 
