.icon {
	&-close {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 90%;
			height: 1px;
			background: #fff;
			//border-top: 1px solid #fff;
			top: 50%;
			left: 50%;
		}
		&:before {
			@include transform(translate(-50%, -50%) rotate(45deg));
		}
		&:after {
			@include transform(translate(-50%, -50%) rotate(-45deg));
		}
	}
}
