.icon-general {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../images/icon/sprite-general.svg);
}
.icon-location {
	width: 16px;
	height: 16px;
	background-position: 0 0;
  }
  .icon-phone {
	width: 16px;
	height: 16px;
	background-position: -32px 0;
  }
  .icon-web {
	width: 16px;
	height: 16px;
	background-position: -64px 0;
  }
  .icon-star-bg {
	width: 80px;
	height: 16px;
	background-position: -96px 0;
  }
  .icon-star {
	width: 80px;
	height: 16px;
	background-position: -192px 0;
  }
  .icon-search {
	width: 16px;
	height: 16px;
	background-position: -288px 0;
  }
  .icon-photo {
	width: 16px;
	height: 16px;
	background-position: -320px 0;
  }
  .icon-mail {
	width: 16px;
	height: 16px;
	background-position: -352px 0;
  }
  .icon-google-color {
	width: 16px;
	height: 16px;
	background-position: -384px 0;
  }
  .icon-facebook-square {
	width: 16px;
	height: 16px;
	background-position: -416px 0;
  }
  .icon-facebook {
	width: 16px;
	height: 16px;
	background-position: -448px 0;
  }
  .icon-google {
	width: 16px;
	height: 16px;
	background-position: -480px 0;
  }
  .icon-instagram {
	width: 16px;
	height: 16px;
	background-position: 0 -32px;
  }
  .icon-line {
	width: 16px;
	height: 16px;
	background-position: -32px -32px;
  }
  .icon-linkedin {
	width: 16px;
	height: 16px;
	background-position: -64px -32px;
  }
  .icon-twitter {
	width: 16px;
	height: 16px;
	background-position: -96px -32px;
  }
  .icon-whatsapp {
	width: 16px;
	height: 16px;
	background-position: -128px -32px;
  }
  .icon-youtube-play {
	width: 16px;
	height: 16px;
	background-position: -160px -32px;
  }
  .icon-youtube {
	width: 16px;
	height: 16px;
	background-position: -192px -32px;
  }