.icon {
	&-rating {
		display: inline-block;
		position: relative;
		height: 16px;
		overflow: hidden;
		& > .icon-star {
			width: 0%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.icon-star-bg {
			vertical-align: top;
		}
	}
}