<div id="modalApps" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="onlyApss" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title" id="onlyApss">Only on Mobile App</h5>
			</div>
			<div class="modal-body">
				<div class="app-modal">
					<div class="app-modal-text">
						Only available on mobile app. <br>Download it now on the <a href="#" target="_blank">Google Play</a> or <a href="#" target="_blank">Apple App Store</a>.
					</div>
					<div class="app-badge">
						<a href="#" target="_blank">
							<img src="../asset/images/google-play-badge.png" alt="Get it on Google Play">
						</a>
						<a href="#" target="_blank">
							<img src="../asset/images/app-store-badge.png" alt="Download on the App Store">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
