<section class="challengeBanner box">
	<a href="challenges.html">
		<div class="challengeBanner-block">
			<div class="challengeBanner-icon">
				<img src="../asset/images/icon-trophy.png" alt="">
			</div>
			<div class="challengeBanner-info">
				<div class="challengeBanner-title">Win New Chalanges!</div>
				<div class="challengeBanner-lead">get 50 thousand dollar in cash right now</div>
			</div>
		</div>
	</a>
</section>
