<!-- map location change -->
<div id="modalLocation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLocation" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title">Change Location</h5>
			</div>
			<div class="modal-body">
				<!-- modal loc -->
				<div class="discover-location-modal">
					<div class="discover-location-search">
						<span class="icon-general icon-search"></span>
						<input type="text" id="discoverLocationSearch" class="input" name="filter-loc-search" placeholder="Search Location" autocomplete="off">
						<button type="button" class="clear" id="discoverLocationClear">
							<span class="icon-close" aria-hidden="true"></span>
						</button>
					</div>
					<div class="discover-location-body" id="discoverLocationList">
						{{#each place}}
						<button type="button" role="button" class="button" value="{{title}}" data-loc="send">{{title}}</button>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
