<section class="feed box">
	{{>feed channel=channel comment=comment commentall=commentall search=search}}

	<!-- feed like modal -->
	<div id="modalLikedBy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLikedBy" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header">
					<h5 class="modal-title">Liked by</h5>
				</div>
				<div class="modal-body">
					<div class="people-block -modal">
						<div class="people-list">
							{{>people_list channel=people index_start=0 index_end=10}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
