<!-- footer -->
<footer class="footer">
	<div class="grid grid-flex">
		<div class="footer-col">
			<div class="footer-logo">
				<a href="index-wp.html">
					<img src="../asset/images/logo-trifekta-footer.png" alt="">
				</a>
				<div class="footer-lead">Travel. Sport. Community</div>
			</div>
			<div class="footer-copy">© 2020 Trifekta.id. All rights reserved.</div>
		</div>
		<div class="footer-col">
			<nav class="footer-nav" aria-label="Footer">
				<ul>
					<li><a href="static-about.html">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Career</a></li>
					<li><a href="static-policy.html">Policy Privacy</a></li>
					<li><a href="static-faq.html">FAQ</a></li>
					<li><a href="static-contact.html">Contact Us</a></li>
				</ul>
			</nav>
		</div>
		<div class="footer-col">
			<div class="footer-social">
				<div class="footer-social-text">Follow us:</div>
				<div class="footer-social-icon social">
					<div class="social-item">
						<a href="#" class="social-link">
							<span class="icon-general icon-facebook"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link">
							<span class="icon-general icon-instagram"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link">
							<span class="icon-general icon-twitter"></span>
						</a>
					</div>
					<div class="social-item">
						<a href="#" class="social-link">
							<span class="icon-general icon-youtube-play"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-subscribe">
				<div class="footer-subscribe-text">Subscribe:</div>
				<div class="footer-subscribe-form">
					<form action="#">
						<input type="text" class="input" name="subscribe" placeholder="Email">
						<input type="submit" class="button -primary" name="subscribe-btn" value="Join">
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
