<section class="post box">
	<div class="post-block">
		<div class="post-avatar">
			<img src="../asset/images/dummy/avatar.jpg" alt="">	
		</div>
		<div class="post-write">
			<button type="button" data-toggle="modal" data-target="#modalPost" class="button">Share something...</button>
		</div>
	</div>
	<div class="post-footer">
		<div class="post-icon">
			<button type="button" data-toggle="modal" data-target="#modalPost" class="button">
				<svg class="icon-post icon-image" title="icon-image">
					<use xlink:href="../asset/images/icon/icon.svg#icon-image" />
				</svg>
			</button>
			<button type="button" data-toggle="modal" data-target="#modalPost" class="button">
				<svg class="icon-post icon-place" title="icon-place">
					<use xlink:href="../asset/images/icon/icon.svg#icon-place" />
				</svg>
			</button>
			{{!-- <button type="button" data-toggle="emoji" data-container="feed" data-target="#emoji" class="button">
				<svg class="icon-post icon-emoji" title="icon-emoji">
					<use xlink:href="../asset/images/icon/icon.svg#icon-emoji" />
				</svg>				
			</button> --}}
		</div>
	</div>
</section>

<!-- modal post -->
<div id="modalPost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPost" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title" id="modalPostTitle">Create post</h5>
			</div>
			<div class="modal-body">
				<div class="post-modal">
					<form action="#">
						<div class="post-modal-top">
							<div class="post-avatar">
								<img src="../asset/images/dummy/avatar.jpg" alt="">	
							</div>
							<div class="post-user">Chelsea Islan</div>
						</div>
						<div class="post-modal-content">
							<textarea name="post-content" id="post-content" class="post-input" placeholder="Share something..."></textarea>
						</div>
						<div class="post-modal-media">
							<!-- image -->
							<div class="post-modal-img">
								<button type="button" class="close" aria-label="Remove"><span class="icon-close" aria-hidden="true"></span></button>
								<span>
									<img src="https://source.unsplash.com/CYOFvtpOIpU/750x500" alt="">
								</span>
							</div>
							<div class="post-modal-img">
								<button type="button" class="close" aria-label="Remove"><span class="icon-close" aria-hidden="true"></span></button>
								<span>
									<img src="https://source.unsplash.com/3NhTyPZ8CO8/750x500" alt="">
								</span>
							</div>
							<!-- place -->
							<div class="post-modal-place" style="display: none;">
								<button type="button" class="close" aria-label="Remove"><span class="icon-close" aria-hidden="true"></span></button>
								<div class="post-modal-place-loc">
									<img src="../asset/images/dummy/feed-place.png" alt="">	
								</div>
								<div class="post-modal-place-info">
									<div class="post-modal-place-icon">
										<img src="https://source.unsplash.com/3qPQtPoyqUg/50x50">
									</div>
									<div class="post-modal-place-title">Istiqlal Mosque <span>Mosquee</span></div>
								</div>
							</div>
						</div>
						<div class="post-modal-icon">
							<button type="button" data-toggle="modal" data-target="#modalPost" class="button">
								<svg class="icon-post icon-image" title="icon-image">
									<use xlink:href="../asset/images/icon/icon.svg#icon-image" />
								</svg>
								Add Photos
							</button>
							<button type="button" data-toggle="modal" data-target="#modalPostLocation" class="button">
								<svg class="icon-post icon-place" title="icon-place">
									<use xlink:href="../asset/images/icon/icon.svg#icon-place" />
								</svg>
								Tag Place
							</button>
							{{#if mobile}}
							{{else}}
							<button type="button" data-toggle="emoji" data-container="post-modal" data-target="post-input" class="button">
								<svg class="icon-post icon-emoji" title="icon-emoji">
									<use xlink:href="../asset/images/icon/icon.svg#icon-emoji" />
								</svg>
								Add Emoji
							</button>
							{{/if}}
						</div>
						<div class="post-modal-action">
							{{>button type="submit" name="btn-post" class="-primary" label="Post"}}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal post location -->
<div id="modalPostLocation" class="modal fade -front" tabindex="-1" role="dialog" aria-labelledby="modalPostLocation" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title" id="modalPostLocationTitle">Tag Place</h5>
			</div>
			<div class="modal-body">
				<!-- modal loc -->
				<div class="discover-location-modal">
					<div class="discover-location-search">
						<span class="icon-general icon-search"></span>
						<input type="text" id="discoverLocationSearch" class="input" name="filter-loc-search" placeholder="Search Location" autocomplete="off">
						<button type="button" class="clear" id="discoverLocationClear">
							<span class="icon-close" aria-hidden="true"></span>
						</button>
					</div>
					<div class="discover-location-body" id="discoverLocationList">
						{{#each place}}
						<button type="button" role="button" class="button" value="{{title}}" data-loc="send">{{title}}</button>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

