.small {
	font-size: 0.625rem;
}

.text {
	&-center {
		text-align: center;
	}
}

.clearfix {

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

.more {
	&-block {
		position: relative;
		padding-top: 1rem;
		text-align: center;
	}
}

.notes {
	&-block {
		position: relative;
		padding: 1rem .25rem;
		text-align: center;
		@include font-pack(false, 0.875rem, 500, false, #818488);
		p {
			@include font-pack(false, 0.875rem, 500, false, #818488);
		}
		&.page-404 {
			.title {
				margin: 0;
				font-size: 5rem;
				line-height: 1;
				color: $color-theme;
			}
		}
	}
}

[data-toggle="emoji"] * {
	pointer-events: none;
}
