// .discover-img,
.map-nearby:empty,
.map-title:empty,
.map-thumb,
.map-img span {
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: #f6f7f8;
		background: linear-gradient(to right, #eeeeee 10%, #dddddd 43%, #eeeeee 76%);
		@include animation(progress 2s ease-in-out 5 forwards);
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #eeeeee;
		z-index: 1;
	}
}
