<div class="block-footer">
	<p>KG Media ID adalah akun yang dapat digunakan untuk mengakses semua layanan KG Media.</p>
	<div class="network">
		<div class="network-item"><img src="./asset/images/logo-kompascom.png" alt="Kompas.com"></div>
		<div class="network-item"><img src="./asset/images/logo-grid.png" alt="Grid"></div>
		<div class="network-item"><img src="./asset/images/logo-tribunnews.png" alt="Tribunnews"></div>
		<div class="network-item"><img src="./asset/images/logo-kompastv.png" alt="Kompasc TV"></div>
		<div class="network-item"><img src="./asset/images/logo-kompasiana.png" alt="Kompasiana"></div>
		<div class="network-item"><img src="./asset/images/logo-kontan.png" alt="Kontan"></div>
		<div class="network-item"><img src="./asset/images/logo-pijaru.png" alt="pijaru"></div>
	</div>
	<p class="small">Informasi KG Media ID milikmu digunakan untuk memberikan layanan-layanan KG Media. Lihat <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
</div>
