<div class="challenge box">
	<div class="challenge-block">
		<div class="challenge-img">
			<img src="../asset/images/dummy/challenge-banner.jpg" alt="">
		</div>
		<div class="challenge-info">
			<h1 class="challenge-title">Win New Chalanges!</h1>
			<h2 class="challenge-lead">get 50 thousand dollar in cash right now</h2>
			<div class="challenge-content">
				<div class="content-read">
					<p>All activities logged during the Challenge period must be uploaded to Strava no later than three days after the Challenge ends.</p>
					<p>We expect all athletes to honor the Strava Strava Community Standards, which includes abiding by all health advisements and restrictions in your area prior to undertaking any physical activity.</p>
					<p>With this in mind, GPS, manual entries, virtual activities and treadmill workouts will count toward this challenge. Many of you take a lot of well-deserved pride in your challenge accomplishments, and we want to help you stay motivated even if you aren't able to get outside as you normally would.</p>
					<p>Challanges only available on Mobile Apps</p>
				</div>
			</div>
			<div class="app-badge">
				<a href="#" target="_blank">
					<img src="../asset/images/google-play-badge.png" alt="Get it on Google Play">
				</a>
				<a href="#" target="_blank">
					<img src="../asset/images/app-store-badge.png" alt="Download on the App Store">
				</a>
			</div>
		</div>
	</div>
</div>
