<div id="discoverBg" class="discover-block discover-flex discover-bg -animate">
	<div class="discover-user">
		<img src="../asset/images/dummy/avatar.jpg" alt="">
	</div>
	<div id="discoverCard" class="discover-card -hide" data-card="false">

		<!-- item -->
		<div class="discover-card-item" data-swipe="swipe">
			<div class="discover-img">
				<img src="https://source.unsplash.com/3qPQtPoyqUg/500x333" alt="">
				<div class="discover-info">
					<div class="discover-place-name">Istiqlal Mosque</div>
					<div class="discover-place-address">Gambir, Jakarta</div>
					<div class="discover-place-lead">This mosque features a contemporary design & is the largest in Southeast Asia.</div>
				</div>
			</div>
			<div class="discover-action">
				<div class="form-row">
					<a href="map-place-detail.html" class="button -primary" role="link">Explore</a>
				</div>
			</div>
		</div>

		<!-- item -->
		<div class="discover-card-item" data-swipe="swipe">
			<div class="discover-img">
				<img src="https://tinyfac.es/data/avatars/03F55412-DE8A-4F83-AAA6-D67EE5CE48DA-500w.jpeg" alt="">
				<div class="discover-info">
					<div class="discover-people-name">Daisi Widdows</div>
					<div class="discover-people-bio">Love Swimming</div>
					<div class="discover-people-stat">Followers: <span>1234</span></div>
				</div>
			</div>
			<div class="discover-action">
				<div class="form-row">
					<a href="profile-view.html" class="button -primary" role="link">View Profile</a>
				</div>
			</div>
		</div>

		<!-- item -->
		<div class="discover-card-item" data-swipe="swipe">
			<div class="discover-img">
				<img src="https://source.unsplash.com/tlEcSKHQ998/500x333" alt="">
				<div class="discover-info">
					<div class="discover-place-name">Jakarta Cathedral</div>
					<div class="discover-place-address">Sawah Besar, Jakarta</div>
					<div class="discover-place-lead">Restored Neo-Gothic-style Roman Catholic place of worship, founded in 1901 with 3 spires & 3 altars.</div>
				</div>
			</div>
			<div class="discover-action">
				<div class="form-row">
					<a href="map-place-detail.html" class="button -primary" role="link">Explore</a>
				</div>
			</div>
		</div>

		<!-- item -->
		<div class="discover-card-item" data-swipe="swipe">
			<div class="discover-img">
				<img src="https://tinyfac.es/data/avatars/A7299C8E-CEFC-47D9-939A-3C8CA0EA4D13-500w.jpeg" alt="">
				<div class="discover-info">
					<div class="discover-people-name">Abagael Tanguma</div>
					<div class="discover-people-bio">Run Enthusiast</div>
					<div class="discover-people-stat">Followers: <span>872</span></div>
				</div>
			</div>
			<div class="discover-action">
				<div class="form-row">
					<a href="profile-view.html" class="button -primary" role="link">View Profile</a>
				</div>
			</div>
		</div>

		<!-- last item refresh / load more -->
		<div class="discover-card-item">
			<div class="discover-message">
				<!-- <span>Couldn't find any matches places or people right now.</span> -->
			</div>
			<div class="discover-action">
				<div class="form-row">
					<a href="discover.html" class="button -primary" role="link">Refresh</a>
				</div>
			</div>
		</div>

	</div>
</div>
