<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="email">Email</label>
			<div class="form-input">
				<input type="text" id="email" name="email" class="input" placeholder="email">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-hint">
			<p>Alamat email yang dimasukkan ini akan menjadi KG Media ID baru milikmu.</p>
		</div>
		<hr>
		<div class="form-row form-error">
			<label for="url">URL Profil</label>
			<div class="form-input">
				<input type="text" id="url" name="url" class="input -error" placeholder="benno">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-hint">
			<p>Contoh URL profilmu: <br>https://www.kompasiana.com/benno.</p>
		</div>
		<div class="form-row form-input">
			<div class="form-checkbox">
				<input type="checkbox" name="agree" id="agree" value="" checked="checked">
				<label for="agree">Saya bersedia menerima email terkait akun KG Media ID dan layanannya</label>
			</div>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Lanjutkan" class="button -disabled" disabled="disabled">
		</div>
		<hr>
		<div class="form-hint">
			<p>Dengan menekan tombol “Lanjutkan”, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
		</div>
	</form>
</div>
