<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="password_old">Password</label>
			<div class="form-input">
				<input type="password" id="password_old" name="password_old" class="input" placeholder="password saat ini">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="password_new">Password Baru</label>
			<div class="form-input">
				<input type="password" id="password_new" name="password_new" class="input" placeholder="password baru">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="password_new2">Verifikasi Password</label>
			<div class="form-input">
				<input type="password" id="password_new2" name="password_new2" class="input" placeholder="ulangi password baru">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-hint">
			<p>Panjang password setidaknya 8 karakter, mengandung angka, huruf kapital, dan huruf kecil.</p>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Ganti Password" class="button -primary">
		</div>
		<p><a href="forget.html">Lupa Password?</a></p>
	</form>
</div>
