<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="password">Password</label>
			<div class="form-input">
				<input type="password" id="password" name="password" class="input" placeholder="password">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="repassword">Ulangi</label>
			<div class="form-input">
				<input type="password" id="repassword" name="repassword" class="input" placeholder="ulangi password">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-hint">
			<p>Panjang password setidaknya 8 karakter, mengandung angka, huruf kapital, dan huruf kecil.</p>
		</div>
		<hr>
		<div class="form-captcha">
			<img src="./asset/images/dummy/captcha.png" alt="">
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Lanjutkan" class="button -primary">
		</div>
		<hr>
		<div class="form-hint">
			<p>Dengan menekan tombol “Lanjutkan”, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
		</div>
	</form>
</div>
