<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="name">Nama Lengkap</label>
			<div class="form-input">
				<input type="text" id="name" name="name" class="input" placeholder="nama lengkap">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="gender">Gender</label>
			<div class="form-select" data-placeholder="pilih gender">
				<select id="gender" name="gender" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih gender</option>
					<option value="Pria">Pria</option>
					<option value="Wanita">Wanita</option>
				</select>
			</div>
		</div>
		<div class="form-row" id="js-datepicker-container">
			<label for="birth">Tanggal Lahir</label>
			<div class="form-input">
				<input type="text" id="birth" name="birth" class="input js-datepicker" placeholder="24 Ags 2000" readonly="readonly">
			</div>
			<div class="form-hint"></div>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Lanjutkan" class="button -disabled" disabled="disabled">
		</div>
		<hr>
		<div class="form-hint">
			<p>Dengan menekan tombol “Lanjutkan”, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="https://www.kgmedia.id/legal-privacy-id" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
		</div>
	</form>
</div>
