<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="name">Nama Lengkap</label>
			<div class="form-input">
				<input type="text" id="name" name="name" class="input" placeholder="nama lengkap">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="gender">Gender</label>
			<div class="form-select" data-placeholder="pilih gender">
				<select id="gender" name="gender" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih gender</option>
					<option value="Pria">Pria</option>
					<option value="Wanita">Wanita</option>
				</select>
			</div>
		</div>
		<div class="form-row" id="js-datepicker-container">
			<label for="birth">Tanggal Lahir</label>
			<div class="form-input">
				<input type="text" id="birth" name="birth" class="input js-datepicker" placeholder="20 Sep 2020" readonly="readonly">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="kawin">Status Pernikahan</label>
			<div class="form-select" data-placeholder="pilih status pernikahan">
				<select id="kawin" name="kawin" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih status pernikahan</option>
					<option value="Tidak kawin">Tidak kawin</option>
					<option value="Kawin">Kawin</option>
					<option value="Cerai">Cerai</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<label for="handphone">Nomor Handphone</label>
			<div class="form-input">
				<input type="text" id="handphone" name="handphone" class="input" placeholder="contoh 0816232123">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-input-multi">
			<label>Alamat Tempat Tinggal</label>
			<div class="form-row">
				<div class="form-input">
					<input type="text" id="address" name="address" class="input" placeholder="alamat jalan">
				</div>
				<div class="form-hint"></div>
			</div>
			<div class="form-row">
				<div class="form-select" data-placeholder="pilih provinsi">
					<select id="province" name="province" class="select ">
						<option value="0" selected="selected" disabled="disabled">pilih provinsi</option>
						<option value="Aceh">Aceh</option>
						<option value="Sumatera Utara">Sumatera Utara</option>
						<option value="Sumatera Barat">Sumatera Barat</option>
						<option value="Jambi">Jambi</option>
						<option value="Riau">Riau</option>
						<option value="Kep. Riau">Kep. Riau</option>
						<option value="Sumatera Selatan">Sumatera Selatan</option>
						<option value="Bangka Belitung">Bangka Belitung</option>
						<option value="Bengkulu">Bengkulu</option>
						<option value="Lampung">Lampung</option>
					</select>
				</div>
			</div>
			<div class="form-row form-flex form-flex-2">
				<div class="form-col">
					<div class="form-row">
						<div class="form-select" data-placeholder="pilih kota">
							<select id="city" name="city" class="select ">
								<option value="0" selected="selected" disabled="disabled">pilih kota</option>
								<option value="Jakarta Utara">Jakarta Utara</option>
								<option value="Jakarta Barat">Jakarta Barat</option>
								<option value="Jakarta Timur">Jakarta Timur</option>
								<option value="Jakarta Pusat">Jakarta Pusat</option>
								<option value="Jakarta Selatan">Jakarta Selatan</option>
								<option value="Kep. Seribu">Kep. Seribu</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-col">
					<div class="form-row">
						<div class="form-input">
							<input type="text" id="code" name="code" class="input" placeholder="kode pos">
						</div>
						<div class="form-hint"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row">
			<label for="education">Pendidikan Terahkhir</label>
			<div class="form-select" data-placeholder="pilih pendidikan terakhir">
				<select id="education" name="education" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih pendidikan terakhir</option>
					<option value="Tidak sekolah">Tidak sekolah</option>
					<option value="SD">SD</option>
					<option value="SMP">SMP</option>
					<option value="SMA">SMA</option>
					<option value="Diploma">Diploma</option>
					<option value="S1">S1</option>
					<option value="S2">S2</option>
					<option value="S3">S3</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<label for="job">Jenis Pekerjaan</label>
			<div class="form-select" data-placeholder="pilih pekerjaan">
				<select id="job" name="job" class="select ">
					<option value="0" selected="selected" disabled="disabled">pilih pekerjaan</option>
					<option value="Tidak bekerja">Tidak bekerja</option>
					<option value="Swasta">Swasta</option>
					<option value="PNS">PNS</option>
					<option value="Wirausaha">Wirausaha</option>
				</select>
			</div>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Simpan" class="button -primary">
		</div>
		<hr>
		<div class="form-hint">
			<p>Dengan menekan tombol “Simpan”, kamu menyetujui bahwa data dan informasi KG Media ID milikmu akan digunakan untuk memberikan layanan sesuai <a href="#" target="_blank">Kebijakan Data Pribadi KG Media</a>.</p>
		</div>
	</form>
</div>
