<div class="form-hr"><span>atau</span></div>

<div class="form-sosmed">
	<div class="form-row">
		<a href="" class="button -theme-google"><span class="icon icon-google"><img src="./asset/images/icon-google@2x.png" alt="google"></span> Masuk dengan Google</a>
	</div>
	<div class="form-row">
		<a href="" class="button -theme-facebook"><span class="icon icon-facebook"><img src="./asset/images/icon-facebook@2x.png" alt="facebook"></span> Masuk dengan Facebook</a>
	</div>
	<div class="form-row">
		<a href="" class="button -theme-apple"><span class="icon icon-apple"><img src="./asset/images/icon-apple@2x.png" alt="apple"></span> Masuk dengan Apple</a>
	</div>
	<div class="form-row">
		<a href="" class="button -theme-myvalue"><span class="icon icon-myvalue"><img src="./asset/images/icon-myvalue@2x.png" alt="myvalue"></span> Masuk dengan MyValue</a>
	</div>
</div>
