<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="email">KG Media ID</label>
			<div class="form-input">
				<input type="text" id="email" name="email" class="input" placeholder="harus diisi">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-hint">
			<p>KG Media ID milikmu adalah alamat email yang kamu gunakan untuk login di Kompas.com, Tribunnews.com, Grid.id, dan layanan KG Media lainnya.</p>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="forget" id="forget" value="Lanjutkan" class="button -disabled" disabled="disabled">
		</div>
	</form>
</div>
