<div class="form-main">
	<form action="">
		<div class="form-row">
			<label for="email">KG Media ID</label>
			<div class="form-input">
				<input type="text" id="email" name="email" class="input" placeholder="email">
			</div>
			<div class="form-hint"></div>
		</div>
		<div class="form-row">
			<label for="password">Password</label>
			<div class="form-input">
				<input type="password" id="password" name="password" class="input js-viewTxt" placeholder="">
			</div>
			<div class="form-hint"></div>
		</div>
		<hr>
		<div class="form-row">
			<input type="submit" name="" id="" value="Login" class="button -primary">
		</div>
		<p><a href="register.html">Tidak punya KG Media ID?</a> atau <a href="forget.html">lupa password?</a></p>
	</form>
</div>
