<div class="map-img">
	<span><img src="https://source.unsplash.com/3qPQtPoyqUg/500x333"></span>
</div>
<div class="map-nearby">1.3 Km nearby</div>
<div class="map-title">Istiqlal Mosque</div>
<div class="map-rating">
	<div class="icon-rating">
		<div class="icon-general icon-star" data-rating="3.7"></div>
		<div class="icon-general icon-star-bg"></div>
	</div>
</div>
<div class="map-suptitle">4-Star Hotel</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-location"></span>
	</div>
	<div class="map-info-content">
		Jl. Melawai 7 No.6 - 8, RT.3/RW.1, Melawai, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12160
	</div>
</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-web"></span>
	</div>
	<div class="map-info-content">
		mysantika.com
	</div>
</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-phone"></span>
	</div>
	<div class="map-info-content">
		021 7637789
	</div>
</div>
<div class="map-row">
	<div class="map-info-content">This mosque features a contemporary design & is the largest in Southeast Asia.</div>
</div>
<div class="map-checkin">
	<div class="map-checkin-user">
		<div class="map-checkin-avatar"><img src="https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg" alt="Stevy"></div>
		<div class="map-checkin-avatar"><img src="https://tinyfac.es/data/avatars/A7299C8E-CEFC-47D9-939A-3C8CA0EA4D13-200w.jpeg" alt="Stevy"></div>
		<div class="map-checkin-avatar"><img src="https://tinyfac.es/data/avatars/FBEBF655-4886-455A-A4A4-D62B77DD419B-200w.jpeg" alt="Stevy"></div>
		<div class="map-checkin-avatar"><img src="https://tinyfac.es/data/avatars/03F55412-DE8A-4F83-AAA6-D67EE5CE48DA-200w.jpeg" alt="Stevy"></div>
		<div class="map-checkin-avatar"><img src="https://tinyfac.es/data/avatars/282A12CA-E0D7-4011-8BDD-1FAFAAB035F7-200w.jpeg" alt="Stevy"></div>
	</div>
	<div class="map-checkin-text"><a href="#" role="button" data-toggle="modal" data-target="#modalPeopleCheckin">+82 More have been here</a></div>
</div>
