<!-- nav static page -->
<nav class="nav -fixed -static" aria-label="Main Navigation">
	<ol class="nav-wrap">
		<li class="nav-item">
			<a href="static-about.html" class="nav-link" role="link" aria-label="About">
				<div class="nav-flex">
					<div class="nav-text">About</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="static-policy.html" class="nav-link" role="link" aria-label="Policy Privacy">
				<div class="nav-flex">
					<div class="nav-text">Policy Privacy</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="static-faq.html" class="nav-link" role="link" aria-label="FAQ">
				<div class="nav-flex">
					<div class="nav-text">FAQ</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="static-contact.html" class="nav-link" role="link" aria-label="Contact Us">
				<div class="nav-flex">
					<div class="nav-text">Contact Us</div>
				</div>
			</a>
		</li>
	</ol>
</nav>
