<!-- nav main -->
<nav class="nav -fixed" aria-label="Main Navigation">
	<ol class="nav-wrap">
		<li class="nav-item">
			<a href="index.html" class="nav-link" role="link" aria-label="Home">
				<div class="nav-flex">
					<div class="nav-icon">
						<svg class="icon-nav icon-home" title="icon-home">
							<use xlink:href="../asset/images/icon/icon.svg#icon-home" />
						</svg>
					</div>
					<div class="nav-text">Home</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="map.html" class="nav-link" role="link" aria-label="Map">
				<div class="nav-flex">
					<div class="nav-icon">
						<svg class="icon-nav icon-map" title="icon-map">
							<use xlink:href="../asset/images/icon/icon.svg#icon-map" />
						</svg>
					</div>
					<div class="nav-text">Map</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="discover.html" class="nav-link" role="link" aria-label="Discover">
				<div class="nav-flex">
					<div class="nav-icon">
						<svg class="icon-nav icon-trifekta" title="icon-trifekta">
							<use xlink:href="../asset/images/icon/icon.svg#icon-trifekta" />
						</svg>
					</div>
					<div class="nav-text">Discover</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="challenges.html" class="nav-link" role="link" aria-label="Challenges">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="nav-badge"></span>
						<svg class="icon-nav icon-trophy" title="icon-trophy">
							<use xlink:href="../asset/images/icon/icon.svg#icon-trophy" />
						</svg>
					</div>
					<div class="nav-text">Challenges</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="profile.html" class="nav-link" role="link" aria-label="Profile">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="nav-badge"></span>
						<svg class="icon-nav icon-user" title="icon-user">
							<use xlink:href="../asset/images/icon/icon.svg#icon-user" />
						</svg>
					</div>
					<div class="nav-text">Profile</div>
				</div>
			</a>
		</li>
	</ol>
</nav>
