<div class="panel">
	<div class="list">
		<div class="list-item">
			<span class="list-subtitle">Gender</span>
			<div class="list-content">Laki-laki</div>
		</div>
		<div class="list-item">
			<span class="list-subtitle">Tanggal Lahir</span>
			<div class="list-content">23 September 1990</div>
		</div>
		<div class="list-item">
			<span class="list-subtitle">Status Pernikahan</span>
			<div class="list-content">Belum menikah</div>
		</div>
	</div>
</div>

<div class="panel">
	<div class="list">
		<div class="list-item">
			<span class="list-subtitle">Nomor Handphone</span>
			<div class="list-content">-</div>
		</div>
		<div class="list-item">
			<span class="list-subtitle">Alamat</span>
			<div class="list-content">
				Palmerah Selatan no.22-99 <br>
				Jakarta Barat <br>
				12345 <br>
				DKI Jakarta
			</div>
		</div>
	</div>
</div>

<div class="panel">
	<div class="list">
		<div class="list-item">
			<span class="list-subtitle">Pendidikan Terakhir</span>
			<div class="list-content">Sarjana (S1)</div>
		</div>
		<div class="list-item">
			<span class="list-subtitle">Pekerjaan</span>
			<div class="list-content">Pegawai Negeri</div>
		</div>
	</div>
</div>
