<!-- modal above modal -front -->
<div id="modalPeopleCheckin" class="modal -front fade" tabindex="-1" role="dialog" aria-labelledby="modalPeopleHere" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title">National Monument</h5>
			</div>
			<div class="modal-body">
				<!-- people here -->
				<div class="people-block -modal">
					<div class="people-block">
						<div class="people-list">
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Stevy Michienzi</a></h4>
										<div class="people-bio">Run Enthusiast</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Following"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/A7299C8E-CEFC-47D9-939A-3C8CA0EA4D13-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Abagael Tanguma</a></h4>
										<div class="people-bio">Bike Addict</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/FBEBF655-4886-455A-A4A4-D62B77DD419B-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Cobbie Javarone</a></h4>
										<div class="people-bio">Full-time Traveler</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/03F55412-DE8A-4F83-AAA6-D67EE5CE48DA-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Daisi Widdows</a></h4>
										<div class="people-bio">Love Swimming</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/282A12CA-E0D7-4011-8BDD-1FAFAAB035F7-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Constantin Hoeffliger</a></h4>
										<div class="people-bio">Urban Traveler</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/1C4EEDC2-FE9C-40B3-A2C9-A038873EE692-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Brody Wilch</a></h4>
										<div class="people-bio">Run! Run! Run!</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/E0B4CAB3-F491-4322-BEF2-208B46748D4A-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Olaf Dobos</a></h4>
										<div class="people-bio">Biker</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/344CFC24-61FB-426C-B3D1-CAD5BCBD3209-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Clinten Donohoe</a></h4>
										<div class="people-bio">Sport Lover</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/BA0CB1F2-8C79-4376-B13B-DD5FB8772537-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Averill Vonner</a></h4>
										<div class="people-bio">Runner</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
							<div class="people-item">
								<div class="people-row">
									<div class="people-img">
										<a href="profile-view.html">
											<img src="https://tinyfac.es/data/avatars/B3CF5288-34B0-4A5E-9877-5965522529D6-200w.jpeg" alt="">
										</a>
									</div>
									<div class="people-info">
										<h4 class="people-name"><a href="profile-view.html">Geof Vaughner</a></h4>
										<div class="people-bio">Swimmer</div>
									</div>
								</div>
								<div class="people-action">
									<div class="form-row">
										<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
