<div class="user-header box">
	<div class="user-avatar">
		<img src="../asset/images/dummy/avatar.jpg" alt="">
	</div>
	<h1 class="user-name">Chelsea Islan</h1>
	<div class="user-location">South Jakarta, Indonesia</div>
	<div class="user-row">
		<div class="user-col">
			<div class="user-stat">21 <span>Posts</span></div>
		</div>
		<div class="user-col">
			<a class="user-stat-link" href="people-followers.html">
				<div class="user-stat">1234 <span>Followers</span></div>
			</a>
		</div>
		<div class="user-col">
			<a class="user-stat-link" href="people-following.html">
				<div class="user-stat">2 <span>Following</span></div>
			</a>
		</div>
	</div>
	<div class="user-action">
		<div class="form-row">
			<a href="profile-edit.html" class="button -secondary" role="link">Edit Profile</a>
		</div>
	</div>
</div>
