<div class="setting-item">
	<a class="setting-link" href="setting-email.html">
		<div class="setting-row">
			<div class="setting-text">Change Email</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="setting-password.html">
		<div class="setting-row">
			<div class="setting-text">Change Password</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<label for="setting-push-notification">
		<div class="setting-row">
			<div class="setting-text">Push Notification</div>
			<div class="setting-toggle form-toggle">
				<input name="setting-push-notification" id="setting-push-notification" type="checkbox" autocomplete="off" checked="checked">
				<span></span>
			</div>
		</div>
	</label>
</div>
<div class="setting-item">
	<label for="setting-email-notification">
		<div class="setting-row">
			<div class="setting-text">Email Notification</div>
			<div class="setting-toggle form-toggle">
				<input name="setting-email-notification" id="setting-email-notification" type="checkbox" autocomplete="off" checked="checked">
				<span></span>
			</div>
		</div>
	</label>
</div>
<div class="setting-item">
	<label for="setting-discover-by-other">
		<div class="setting-row">
			<div class="setting-text">Discover by Other</div>
			<div class="setting-toggle form-toggle">
				<input name="setting-discover-by-other" id="setting-discover-by-other" type="checkbox" autocomplete="off">
				<span></span>
			</div>
		</div>
	</label>
</div>
<div class="setting-item">
	<a class="setting-link" href="static-term.html">
		<div class="setting-row">
			<div class="setting-text">Terms &amp; Conditions</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="static-policy.html">
		<div class="setting-row">
			<div class="setting-text">Policy Privacy</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="static-about.html">
		<div class="setting-row">
			<div class="setting-text">About</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="static-faq.html">
		<div class="setting-row">
			<div class="setting-text">FAQ</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="static-about.html">
		<div class="setting-row">
			<div class="setting-text">Version</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="index-wp.html">
		<div class="setting-row">
			<div class="setting-text">Logout</div>
		</div>
	</a>
</div>
<div class="setting-item">
	<a class="setting-link" href="setting-account-remove.html">
		<div class="setting-row">
			<div class="setting-text">Delete Account</div>
		</div>
	</a>
</div>
