<div class="aside -fixed">
	<aside class="aside-block">
		<!-- people list -->
		<h3 class="title-aside">Suggestions For You</h3>
		<div class="people-aside">
			<div class="people-list">
				<div class="people-item">
					<div class="people-row">
						<div class="people-img">
							<a href="profile-view.html">
								<img src="https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg" alt="">
							</a>
						</div>
						<div class="people-info">
							<h4 class="people-name"><a href="profile-view.html">Stevy Michienzi</a></h4>
							<div class="people-bio">Run Enthusiast</div>
						</div>
					</div>
					<div class="people-action">
						<div class="form-row">
							<button type="button" name="btn-follow" class="button" data-follow="Following"></button>
						</div>
					</div>
				</div>
				<div class="people-item">
					<div class="people-row">
						<div class="people-img">
							<a href="profile-view.html">
								<img src="https://tinyfac.es/data/avatars/A7299C8E-CEFC-47D9-939A-3C8CA0EA4D13-200w.jpeg" alt="">
							</a>
						</div>
						<div class="people-info">
							<h4 class="people-name"><a href="profile-view.html">Abagael Tanguma</a></h4>
							<div class="people-bio">Bike Addict</div>
						</div>
					</div>
					<div class="people-action">
						<div class="form-row">
							<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
						</div>
					</div>
				</div>
				<div class="people-item">
					<div class="people-row">
						<div class="people-img">
							<a href="profile-view.html">
								<img src="https://tinyfac.es/data/avatars/FBEBF655-4886-455A-A4A4-D62B77DD419B-200w.jpeg" alt="">
							</a>
						</div>
						<div class="people-info">
							<h4 class="people-name"><a href="profile-view.html">Cobbie Javarone</a></h4>
							<div class="people-bio">Full-time Traveler</div>
						</div>
					</div>
					<div class="people-action">
						<div class="form-row">
							<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
						</div>
					</div>
				</div>
				<div class="people-item">
					<div class="people-row">
						<div class="people-img">
							<a href="profile-view.html">
								<img src="https://tinyfac.es/data/avatars/03F55412-DE8A-4F83-AAA6-D67EE5CE48DA-200w.jpeg" alt="">
							</a>
						</div>
						<div class="people-info">
							<h4 class="people-name"><a href="profile-view.html">Daisi Widdows</a></h4>
							<div class="people-bio">Love Swimming</div>
						</div>
					</div>
					<div class="people-action">
						<div class="form-row">
							<button type="button" name="btn-follow" class="button" data-follow="Follow"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="people-aside-footer">
				<a href="people.html" role="link">See All</a>
			</div>
		</div>
	</aside>

	<footer class="footer-aside">
		<nav class="footer-nav" aria-label="Footer">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Career</a></li>
				<li><a href="#">Terms & Policies</a></li>
			</ul>
		</nav>
		<div class="footer-copy">© 2020 Trifekta.id</div>
		<div class="app-badge">
			<a href="#" target="_blank">
				<img src="../asset/images/google-play-badge.png" alt="Get it on Google Play">
			</a>
			<a href="#" target="_blank">
				<img src="../asset/images/app-store-badge.png" alt="Download on the App Store">
			</a>
		</div>
	</footer>
</div>
